<div class="form-group">
    <input [class.is-invalid]="ngControl.errors && ngControl.touched" type="{{type}}" class="form-control"
        [formControl]="ngControl.control" rows="6" placeholder="{{placeholder}}">

    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter {{label}}</div>
    <div *ngIf="ngControl.control.errors?.min" class="invalid-feedback">
        {{label}} must be at least {{ngControl.control.errors.min['min'] | currency:'ZAR':'R'}}</div>
    <div *ngIf="ngControl.control.errors?.email" class="invalid-feedback">
        Please enter a valid email address</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters</div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}} characters</div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
        Passwords do not match</div>
</div>