<div class="row mb-4">
    <h1 class="col-12 text text-center">CSIP SOLUTIONS</h1>
    <h1 class="col-12 text text-center"><i class="fa fa-html5 me-2"></i><i class="fa fa-css3"></i></h1>
</div>
<div class="row" style="margin: 50px auto;">
    <div class="col-4 text text-center">
        <i class="card-title fa fa-map-marker" style="font-size: 48px;" aria-hidden="true"></i>
        <div class="card-body">
        <p class="card-text">21 Lyle Str</p>
        <p class="card-text">Baton Rouge</p>
        <p class="card-text">Louisiana, 217</p>
        <p class="card-text">USA</p>
        </div>
    </div>
    <div class="col-4 text text-center">
        <i class="card-title fa fa-phone" style="font-size: 48px;" aria-hidden="true"></i>
        <div class="card-body">
        <p class="card-text">320-203-0112</p>
        <p class="card-text">413-756-3223</p>
        <p class="card-text">help@csipsol.com</p>
        <p class="card-text">general@csipsol.com</p>
        </div>
    </div>
    <div class="col-4 text text-center">
        <i class="card-title fa fa-user" style="font-size: 48px;" aria-hidden="true"></i>
        <div class="card-body">
        <p class="card-text">Karabo Matabane</p>
        <p class="card-text">CSIP6833</p>
        <p class="card-text">University of the Free State</p>
        </div>
    </div>
</div>